.FormBack {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}
.FormBack button {
  padding: 0.8rem 0.8rem;
}
.expense_details {
  margin-top: 3rem;
}
.expense_details form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 2rem;
}
.expense_details p {
  margin-bottom: 1rem;
}

.expense_details form input,
select {
  padding: 0.5rem;
  width: 13rem;
}

.expense_details p {
  padding-bottom: 0.3rem;
}

/* shidfh */

.narration {
  margin-top: 3rem;
}
.narration form div {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.narration form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 2rem;
}
.narration p {
  margin-bottom: 1rem;
}

.narration form input,
select {
  padding: 0.5rem;
  width: 13rem;
}

.narration p {
  padding-bottom: 0.3rem;
}

.narration button {
  background-color: #d6d6fb;
  color: #00006b;
  padding: 0.7rem 4rem;
  border: none;
  font-size: 1.1rem;
}
