.main-left {
  width: 62vw;
}
.main {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1400px) {
  .main-left {
    width: 57vw;
  }
  .main {
    margin-top: 0.8rem;
    display: flex;
    justify-content: space-between;
  }
}
